In [2]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [9]:
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
print(df)
df.mean(axis=1)

          0         1         2
0  0.382436  0.154947  0.802812
1  0.742694  0.376679  0.479574
2  0.001150  0.404796  0.424441
3  0.193681  0.288700  0.393118
4  0.311691  0.306281  0.289935

0    0.446732
1    0.532982
2    0.276796
3    0.291833
4    0.302636
dtype: float64

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [12]:
df2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df2

,a,b,c,d,e,f,g,h,i,j
0,0.275491,0.810014,0.377475,0.521121,0.963819,0.020224,0.678379,0.545981,0.501864,0.563379
1,0.250544,0.102117,0.970681,0.937228,0.172947,0.606626,0.282490,0.165488,0.479620,0.683925
2,0.451081,0.000171,0.623811,0.245424,0.319659,0.703153,0.414700,0.453588,0.317533,0.377669
3,0.820256,0.825034,0.980403,0.146048,0.313654,0.538190,0.089725,0.720939,0.333642,0.625282
4,0.463438,0.853416,0.921359,0.174178,0.871133,0.636839,0.773625,0.074969,0.914282,0.307666

In [16]:
print(df2.sum(axis=1))
max(df2.sum(axis=1))

0    5.257747
1    4.651667
2    3.906790
3    5.393173
4    5.990904
dtype: float64

5.990903874569549